# Build output
dist/

# Astro
.astro/

# Dependencies
node_modules/
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
__pypackages__/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pip-log.txt
pip-delete-this-directory.txt

# Environment / secrets
.env
.env.production
.envrc

# Python bytecode
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython
cython_debug/

# Linters / formatters
.ruff_cache/

# IDEs
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject

# macOS
.DS_Store

# Misc
.pdm-python
.pdm-build/
.pixi
.abstra/
.pypirc

# meow
config.toml
